*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img{
  height: 100%;
}
.container{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  .logo{
    display: flex;
    justify-content:flex-start;
    height: 100px;
    width: 40%;
  }
  .lista{
    display: flex;
    width: 50%;
    ul{
      list-style-type: none;
      li{
        display: inline-block;
        padding: 0px 15px;
      }
    }
  }
}
footer{
  background-color: rgb(37, 54, 126);
  display: flex;
  color: white;
  align-items: flex-end;
  .container-footer{
    display: flex;
    width: 50%;
    height: 150px;
    margin: 0 auto;
    align-items: center;
    ul li{
      list-style-type: none;
      padding: 8px 0px;
    }

    .left{
      width: 50%;
      display: flex;
      justify-content: flex-start;
    }
    .right{
      width: 50%;
      display: flex;
      justify-content: flex-end;
      li a{
        color: white;

      }
    }

  }

}
